/* Fondo suave */
body {
    background-color: #eef4ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #3b6ef5;
    color: white;
    padding: 20px 0;
    margin-bottom: 30px;
}

/* Contenedor del resultado */
.caja-resultado {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-size: 22px;
    font-weight: bold;
    color: #333;
}
