
body {
    background: linear-gradient(to bottom right, #7da9ff, #dfe8ff);
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 25px 0;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}


.formulario {
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}


input {
    width: 80%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    font-size: 17px;
    transition: 0.3s;
}

input:focus {
    border-color: #4a77ff;
    box-shadow: 0 0 8px rgba(74, 119, 255, 0.5);
    outline: none;
}


button {
    width: 85%;
    padding: 14px;
    background-color: #4a77ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #365cd4;
    transform: scale(1.03);
}


.caja-resultado {
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    font-weight: bold;
    color: #2b2b2b;
    animation: aparecer 0.6s ease-out;
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
